:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
}

main {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

h1 {
  font-family: monospace;
  margin: 0.5rem;
}

.input {
  width: 16rem;
  height: 12rem;
  min-height: 4rem;
  min-width: 12rem;
  max-width: 32rem;
  margin: 0.5rem;
  font-size: 1.1rem;
}

.output {
  font-size: 0.75rem;
  margin: 0.5rem;
  white-space: pre-wrap;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  max-width: 16rem;
  margin: 0.5rem;
}

.keyboard .section {
  display: inline-flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  position: relative;
}

.keyboard .section .buttons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.keyboard h4 {
  margin: 0;
  font-size: 0.75rem;
  display: inline;
  font-family: monospace;
  font-weight: 300;
}
.keyboard button {
  display: inline-flex;
  font-size: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.2rem;
}

.keyboard button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
